*{
    margin: 0;
    padding: 0;
}
main{
    background-image: url(images/ChatGPT\ Image\ 11\ de\ abr.\ de\ 2025\,\ 16_47_09.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.galeria{
  text-transform: uppercase;
  text-align: center;
  h1{
    padding: 30px;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  background-color: #2e2d30;
  
  }
}

.fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.imagem-jogo {
  flex: 1 1 calc(50% - 20px);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px; 
  overflow: hidden;
  border-radius: 12px;
  
}

.imagem-jogo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
  border-radius: 8px;
}
